.button-grid{
    display: grid;
    justify-content: center;
    row-gap: 20px;
    grid-template-columns: 200px;
    margin-top: 200px;
    padding-bottom: 20px;

}

.box{
    box-shadow: 0px 0px 5px;
    border: none;
    border-radius: 10px;
    padding-top: 15px 100px;
}

body{
    margin:0;
}

button{
    padding: 20px 40px;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(59, 213, 213);
    color: white;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:hover{
    background-color: rgba(59, 213, 213, 0.7);
}

button:active{
    background-color: rgba(59, 213, 213, 1);
}

#recordContainer {
    margin: 20px 0;
}


