.button-grid{
    display: grid;
    justify-content: center;
    row-gap: 20px;
    grid-template-columns: 200px;
    margin-top: 200px;


    padding-bottom: 20px;

}


button{
    padding: 30px 50px;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(59, 213, 213);
    color: white;
    cursor: pointer;
    transition: background-color 0.4s;
    height: 100%;
    
}

button:hover{
    background-color: rgba(59, 213, 213, 0.7);
}

button:active{
    background-color: rgba(59, 213, 213, 1);
}


#questionContainer {
    margin: 20px 0;

}

#recordContainer {
    margin: 20px 0;
}
